<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyNhanSu.Properties.Settings.SchedulerDataConnectionString" connectionString="Data Source=DESKTOP-UR6D0PD\SQLEXPRESS;Initial Catalog=QuanLyNhanSu;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QuanLyNhanSu.Properties.Settings.QuanLyNhanSuConnectionString" connectionString="Data Source=DESKTOP-UR6D0PD\SQLEXPRESS;Initial Catalog=QuanLyNhanSu;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
